/* Basic styling */
body {
    font-family: "Arial", sans-serif;
}

svg {
    background-color: #f9f9f9;
}

/* Axis styling */
.axis path,
.axis line {
    fill: none;
    stroke: #333;
}

.axis text {
    font-size: 12px;
    fill: #333;
}

/* Bar styling */
.bar-sell,
.bar-buy {
    stroke: #fff;
    stroke-width: 1px;
}

.bar-sell:hover,
.bar-buy:hover {
    opacity: 0.7;
}

/* Text label styling */
.bar-text,
.axis-text {
    font-size: 10px;  /* Adjusted font size */
    fill: #333;
}
.annotation {
    font-size: 14px;
    fill: #000066;  // Dark Blue
font-weight: bold;
}

